<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Add Success</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	
</head>
<body>
	<div class="container text-center">
		<h1>Add Security Questions</h1>
	
	<form th:action="@{/addQuestions}" method="post"
			style="max-width:600px; margin:0 auto;">
    		
    	<div class="border border-secondary p-3 rounded">
			
			<p class="font-weight-bold">Answer Security Questions</p>
			<div th:if="${param.error}">
            	<p class="text-danger">Security Questions Not Update. Please Update.</p>
        	</div>
			<div class="form-group column">
				<label class="col-form-label col-8">Question 1: Birth City</label>
				<div class="col-12">
					<input type="text" class="form-control" th:field="${question.ans1}" placeholder="Answer 1" required/>
				</div>
			</div>
			
			<br>
			<div class="form-group column">
				<label class="col-form-label col-8">Question 2: Favourite Food</label>
				<div class="col-12">
					<input type="text" class="form-control" th:field="${question.ans2}" placeholder="Answer 2" required/>
				</div>
			</div>
			
			<br>
			<div class="form-group column">
				<label class="col-form-label col-8">Question 3: First Pet's Name</label>
				<div class="col-12">
					<input type="text" class="form-control" th:field="${question.ans3}" placeholder="Answer 2" required/>
				</div>
			</div>

			<div>
				<button type="submit" class="btn btn-primary">Add Questions</button>
			</div>
		</div>	
		</form>
	
	</div>
</body>
</html>