<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer Login</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	
</head>
<body>
	<div class="container text-center">
		<h1>Customers List</h1>
			<form th:action="@{/logout}" method="post">
				<p>
					<b>Welcome</b>
				</p>
				<input type="submit" value="Log Out">
			</form>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Customer ID</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cust: ${listCustomers}">
					<td th:text="${cust.id}">Customer ID</td>
					<td th:text="${cust.username}">username</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	</div>
</body>
</html>