<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer Home</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	
</head>
<body>
	<ul class="nav nav-tabs">
  		<li class="nav-item">
   			 <a class="nav-link active" href="">Home</a>
 		</li>
 		<li class="nav-item">
    		<a class="nav-link" href="/home">Account</a>
  		</li>
		<li class="nav-item ml-auto">
		    <a class="nav-link " href="/logout">Logout</a>
		</li>
	</ul>
	
	<div class="container text-center">
		<span th:text="${#authentication.getPrincipal().getUsername()}"></span>
	</div>
</body>
</html>